<!DOCTYPE html>
<html lang="en">
<head>
    <title>Humdrum Conundrum</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1> Humdrum Conundrum </h1>
    <h1> <%= guess %> </h1>
</body>
</html>