<!DOCTYPE html>
<html lang="en">
<head>
    <title>Humdrum Conundrum</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1> Humdrum Conundrum </h1>
    <div class="board">
        <p class="board__word" id="set-word"> <%= word %> </p>
    </div>

    <% let guess; if (!guess === 'undefined') { %> <p> hello </p> <% } %>

    <div class="input-block">
        <form method="POST" action="/guess" class="input-block__form">
            <input type="text" name="guess" class="input-block__guess">
            <input type="hidden" name="word" value="<%= word %>">
            <button type="input-block__btn btn">Submit</button>
        </form>
    </div>
</body>
</html>