<!DOCTYPE html>
<html lang="en">
<head>
    <title>Humdrum Conundrum</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1> Humdrum Conundrum </h1>
    <div class="board">
        <p class="board__word"> <%= word %> </p>
    </div>
</body>
</html>