<!DOCTYPE html>
<html lang="en">
<head>
    <title>Humdrum Conundrum</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1> Humdrum Conundrum </h1>
    <h1> winner <%= guess %> </h1>
    <form action="/" method="get">
        <button type="submit">START AGAIN</button>
    </form>
</body>
</html>